[Desktop Entry]
Type=Application
Name=Cutebrowser
Icon=qutebrowser
Comment=Qutebrowser without Tor :(
Exec=qutebrowser --basedir ~/.config/qutebrowser-for-shitty-websites/
