[Desktop Entry]
Type=Application
Name=Cutebrowser
Icon=qutebrowser
Comment=Qutebrowser without Tor :(
Exec=sh -c "qutebrowser --basedir $HOME/.config/qutebrowser-for-shitty-websites/"
